<div align='center'><a href='https://www.facebook.com/fea.dev/'/ style='display:inline-block'><img src="" height="100%" width="350" ><a/><div/>

# <font color=blue|blue|red>**Jupyter Notebook**</font> 
### 1) O que é o Jupyter Notebook?
O Jupyter Notebook é um documento que permite você executar códigos em Python e escrever textos como um word, tudo em um mesmo lugar.

### 2) Como eu faço para rodar o código?
Para rodar uma célula basta clicar na célula e precionar **Shift + Enter**. Você também pode rodar uma célula ou mais de uma pelo menu de opções na aba "Cell". A células são os retângulos, que podem conter um código em Python ou um texto escrito.

Caso você clique nos textos e a formatação dele fique estranha basta rodar essa célula para corrigir.


### 3) Porquê eu posso obter diferentes resultados toda vez que eu rodo a mesma célula?
Quando você roda uma célula isso atualiza alguma variável (ex, x = x+1), assim você terá resultados diferentes para x enquanto você rodar várias vezes essa célula.

### 4) Estou travado em algum exercício, o que eu faço?
Nós recomendamos que você busca alguem do FEA.dev ou busque informações no Google ou no Stack Overflow. 

### 5) Como eu salvo o meu progresso?
Clique em "File" na barra de opções e por fim clique na opção "Save and Checkpoit"

### 6) O que devo fazer se o meu Jupyter travar?
Caso isso acontece você pode tentar reiniciar o Kernel clicando em "Kernel" na barra de opções, e por fim selecionando a opção "Restart"

### 7) Ainda estou com dúvidas sobre o Jupyter.
Caso isso ocorra pode nos chamar ou se preferir pode assistir o seguinte vídeo: https://www.youtube.com/watch?v=dPb4acFiaYs

# <font color = blue|blue|red >**Aula 03: Extraindo preços de ações com Python**</font> 
## <font color=blue|blue|red>O que esperar do Curso?</font>

Bem vindo(a) ao Curso de Finanças Quantitativas em Python do FEA.dev. <ins>**_O obejtivo desse curso é ensinar à você como construir e gerir uma carteira de investimento de forma sistematizada_**</ins>. Para isso vamos abordar temas como criação e gestão de portfólio; extração de dados; visualização de dados; análise de risco, entre outros, tudo isso utilizando Python.


### <font color=green|black>**Tópicos da Aula:** </font>
- Etapas a executar antes de ir para a parte prática
- Extrair dados financeiros com o Alpha Vantage + Pandas Datareader

### <font color=green|black>**Tenho Dúvidas!** </font>
Caso tenha qualquer dúvida <ins>**_sinta-se livre para chamar qualquer um dos nossos membros pelo nosso Instagram ou email_**</ins>. Além disso, outra ótima ferramenta para se tirar dúvidas e fazer pesquisas é o Stack Overflow. Lembrando que se possível, quando for pesquisar no Google, é recomendado que a faço em inglês, devido a maior disponibilidade de informações.
> Email: duvidas.feadev@gmail.com

> Instagram: https://www.instagram.com/fea.dev/

# <font color = blue|blue|red >**Extração de dados**</font> 

## <font color = blue|blue|red > Antes de Programar ...</font> 

<img src = "https://www.gruenecapitalblog.com/wp-content/uploads/2020/01/nigerian-equities.jpg" style = "height:340px; width:100%" />


##### Para realizar a extração de dados financeiros pelo Python, como cotação de ações e índices financeiros, utilizaremos nesse workshop:
 - ##### A biblioteca pandas_datareader
 - ##### O Alpha Vantage API

## <font color = green|black> Etapas necessárias </font>

##### 1° - Entrar no site do Alpha Vantage: https://www.alphavantage.co/

##### 2° - Cadastrar-se e obter a chave de acesso

##### 3° - Instalar no anaconda o Pandas Datareader
                - Dentro do Anaconda, clicar no Enviroments
                - Clicar na setinha do base(root)
                - Selecionar Open Terminal
                - Copiar e colar os seguintes textos, dando enter em um de cada vez: pip install pandas-datareader
                                                                                     
                                                                                     
                                                                                     
                                                                                     
                                                                                     
                                                                                     
                                                                                     
## <font color = green|black >Bora programar !</font>
<img src = "https://media4.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" style = "height:200px; width:200px" />

# <font color = blue|blue|red >**Extrair Dados Financeiros do Alpha Vantage através do Pandas Datareader**</font>

<img src = "https://pandas-datareader.readthedocs.io/en/latest/_static/pandas-datareader-plain.svg" style = "height:230px; width:50%" />

### <font color = green|black> **Dados Históricos**</font>

Para extrairmos os dados financeiros, integrando a biblioteca pandas_datareader com o Alpaha Vantage, precisamos apenas utilizar a seguinte linha de código.
**web.DataReader("nome do ativo", "função", start = "início do período", end="fim do período")**

### <font color = green|black> Algumas observações: </font>

**Nome do ativo**: Quando for extrair dados de ações americanas, basta colocar como argumento o próprio ticker da ação.
Entretanto, ao procurar ações brasileiras, a nomenclatura especifica é o ticker da ação mais **".SAO"**.
Então, por exemplo, no caso da ação do Itaú, que possui o ticker ITUB4 e ITUB3, no código teria que escrever **ITUB4.SAO e ITUB3.SAO**.
O mesmo vale para o próprio índice Ibovespa, sua nomenclatura é "**BOVA11.SAO**".

**Start e End**: Deve-se colocar o início e o final do período, respectivamente. O formato a ser adotado pela medida temporal é datetime(ano, mês, dia). Se optar por não colocar nenhuma das informações referentes ao período analisado, o output será as informações de toda cronologia disponível.

**Tipo de output**: DataFrame.

## <font color = green|black> Bibliotecas </font>

In [2]:
import pandas as pd
from pandas_datareader import data as web
from datetime import datetime

In [238]:
mglu_daily_adjusted = web.DataReader("MGLU3.SAO", "av-daily-adjusted",start = datetime(2020, 10, 1) , end = datetime(2020, 11, 11), api_key=('ALPHA_VANTAGE_KEY'))

<img src = "https://blog.olist.com/wp-content/uploads/2018/03/vender_no_magazine_luiza_olist.jpg" style = "height:350px; width:60%" />

In [240]:
mglu_daily_adjusted.head(10)

,open,high,low,close,adjusted close,volume,dividend amount,split coefficient
2020-10-01,89.3400,91.90,89.210,91.90,22.9750,11306200,0.0,1.0
2020-10-02,91.0500,91.78,87.600,88.05,22.0125,14697600,0.0,1.0
2020-10-05,88.9800,90.70,88.260,90.14,22.5350,11977300,0.0,1.0
2020-10-06,91.0000,91.20,88.860,89.30,22.3250,10616100,0.0,1.0
2020-10-07,89.7000,90.77,88.900,88.94,22.2350,10336800,0.0,1.0
2020-10-08,89.8000,92.00,89.100,91.87,22.9675,11560200,0.0,1.0
2020-10-09,91.9000,98.15,91.600,98.15,24.5375,22822400,0.0,1.0
2020-10-13,24.8825,26.10,24.875,26.00,26.0000,94011204,0.0,1.0
2020-10-14,26.5000,27.25,25.040,25.59,25.5900,82849500,0.0,4.0
2020-10-15,25.0200,26.07,25.000,25.51,25.5100,34372300,0.0,1.0

### <font color = green|black> **Como interpretar os seguintes dados:** </font>
- **Open**: valor na abertura do mercado

- **High**: valor máximo atingido

- **Low**: valor minimo atingido

- **Close**: valor de fechamento

- **Adjusted close**: valor de fechamento ajustado

- **Volume**: quantidade transacionada

- **Dividend amount**: quantidade de dividendo

- **Split coefficient**: coeficiente de divisão

**Observação**:


**1°)** O **coeficiente de divisão** é obtido de acordo com a proporção adotada pela empresa quando é realizado o desdobramento de suas ações.
Lembrando que o desdobramento é a ação que as empresas da bolsa tomam para dividir suas ações em um número maior de ações. Desta forma, ações que possuem cotações elevadas passam a se tornar mais acessíveis ao público, sem que haja mudança no capital social. Por exemplo, uma ação, no valor de 20, desdobrada numa proporção de 1 para 2 terá sua cotação atualizada para 10 e, consequentemente, um coeficiente no valor de 2. Além disso, o coeficiente é responsável por atualizar o valor ajustado.

**2°)** A diferença entre o **fechamento** e o **fechamento ajustado** é que o segundo é muito mais útil para examinar os resultados históricos de uma empresa, pois os seus valores são ajustados toda vez que ocorrem divisões de ações (desdobramento) e dividendos.

### <font color  = green|black> Vou listar a seguir as funções que podem ser utilizadas: </font>
- **av-intraday** - Retorna valores de ordens de Daytrade com open, high, low, close, volume 

- **av-daily** - Retorna valores diários de open, high, low, close, volume

- **av-daily-adjusted** - Retorna valores diários de open, high, low, close, volume, adjusted close, volume, dividend amount, split coefficient

- **av-weekly** - Retorna valores semanais open, high, low, close, volume

- **av-weekly-adjusted** - Retorna valores semanais de open, high, low, close, volume, adjusted close, volume, dividend amount, split coefficient

- **av-monthly** - Retorna valores mensais de open, high, low, close, volum

- **av-monthly-adjusted** - Retorna valores mensais de open, high, low, close, volume, adjusted close, volume, dividend amount, split coefficient

- **av-forex-daily** - Retorna valores do Mercado Cambial

In [293]:
mglu_daily = web.DataReader("MGLU3.SAO", "av-daily",start = datetime(2020, 11, 1) ,end =  datetime(2020, 11, 11), api_key=('ALPHA_VANTAGE_KEY'))

In [294]:
mglu_daily.head()

             open   high    low  close    volume
2020-11-03  25.28  25.39  24.75  24.99  25250199
2020-11-04  25.40  26.63  25.37  26.19  51188300
2020-11-05  26.88  27.70  26.74  27.45  46382700
2020-11-06  27.00  27.36  26.51  27.33  33294500
2020-11-09  28.15  28.31  26.35  26.45  71761695

In [247]:
mglu_monthly_adj = web.DataReader("MGLU3.SAO", "av-monthly-adjusted",start = datetime(2020, 1, 1) ,end =  datetime(2020, 11, 1), api_key=('ALPHA_VANTGE_KEY'))

In [248]:
mglu_monthly_adj.head()

,open,high,low,close,adjusted close,volume,dividend amount
2020-01-31,48.30,58.09,47.71,55.80,13.6490,187360500,0.0358
2020-02-28,56.48,59.92,47.22,50.52,12.3575,204492500,0.0000
2020-03-31,50.70,54.80,25.00,38.99,9.5372,495916500,0.0000
2020-04-30,37.40,52.89,33.33,49.70,12.3688,324898100,0.1795
2020-05-29,48.00,68.13,47.31,64.35,16.0147,284523600,0.0000

In [196]:
#função intraday não funciona com acoes brasileiras
web.DataReader("TSLA", "av-intraday",start = datetime(2020, 11, 1) ,end =  datetime(2020, 11, 3), api_key=('ALPHA_VANTAGE_KEY')).head()

                       open    high     low   close  volume
2020-11-02 04:01:00  390.80  390.80  387.00  387.00    3434
2020-11-02 04:02:00  389.98  389.98  389.98  389.98     815
2020-11-02 04:03:00  389.98  390.78  389.98  390.78    1893
2020-11-02 04:04:00  390.64  391.00  390.64  391.00    1170
2020-11-02 04:05:00  391.00  391.16  390.21  390.21    4930

In [182]:
# no av-forex-daily o formato do nome do ativo muda, passa a adotar o seguinte modelo "DE/PARA". Por exemplo, abaixo coloquei de dolar para real
web.DataReader("USD/BRL", "av-forex-daily",datetime(2020, 11, 1) , datetime(2020, 11, 11), api_key = ('ALPHA_VANTAGE_KEY'))

              open    high     low   close
2020-11-02  5.7409  5.7781  5.7372  5.7781
2020-11-03  5.7781  5.7831  5.6451  5.7418
2020-11-04  5.7418  5.7645  5.6414  5.6528
2020-11-05  5.6528  5.6635  5.5218  5.5240
2020-11-06  5.5250  5.5730  5.3583  5.3646
2020-11-09  5.4109  5.4245  5.2010  5.3857
2020-11-10  5.3850  5.4187  5.3249  5.4145
2020-11-11  5.4147  5.4560  5.3611  5.3891

### <font color = green|black> **Forex (Mercado de Moeda Estrangeira)** </font>

Mostra em tempo real a cotação de alguma moeda no Mercado Cambial.

In [223]:
web.DataReader("USD/BRL", "av-forex", api_key=('ALPHA_VANTAGE_KEY'))

                                 USD/BRL
From_Currency Code                   USD
From_Currency Name  United States Dollar
To_Currency Code                     BRL
To_Currency Name          Brazilian Real
Exchange Rate                 5.45510000
Last Refreshed       2020-11-16 00:02:04
Time Zone                            UTC
Bid Price                     5.45510000
Ask Price                     5.45510000

### <font color = green|black> **Performance por setor** </font>

Mostra dados da performance de alguns setores Americanos.

In [121]:
web.get_sector_performance_av(api_key = ('ALPHA_VANTAGE_KEY'))

,RT,1D,5D,1M,3M,YTD,1Y,3Y,5Y,10Y
Energy,3.81%,-3.39%,9.78%,4.93%,-15.02%,-46.28%,-44.73%,-52.26%,-50.79%,-48.49%
Real Estate,2.28%,-1.02%,2.42%,-0.84%,2.39%,-5.53%,-3.03%,8.89%,NaN,NaN
Industrials,2.15%,-1.16%,3.20%,3.84%,8.36%,3.00%,2.80%,17.84%,49.33%,150.69%
Materials,1.64%,-2.17%,-0.05%,1.96%,8.97%,10.47%,13.06%,17.10%,51.76%,89.63%
Financials,1.59%,-1.68%,5.73%,5.30%,5.05%,-13.70%,-10.51%,2.10%,33.96%,116.25%
Consumer Staples,1.37%,-0.21%,2.63%,1.10%,5.23%,5.65%,9.76%,22.37%,36.24%,129.67%
Consumer Discretionary,1.32%,-1.18%,-2.66%,-2.51%,5.19%,24.56%,29.12%,67.15%,92.18%,328.68%
Health Care,1.30%,-0.40%,0.67%,2.00%,5.03%,8.45%,17.61%,37.29%,57.20%,255.83%
Communication Services,1.28%,-0.47%,-0.57%,5.99%,8.52%,15.87%,20.55%,46.16%,44.38%,71.12%
Utilities,0.92%,-1.73%,1.60%,2.85%,8.71%,1.03%,6.69%,17.99%,52.09%,107.89%
Information Technology,0.86%,-0.94%,-0.95%,-0.14%,7.86%,31.03%,39.76%,90.59%,187.38%,431.17%

### <font color = green|black> Outros recursos disponíveis </font>

Além do Alpha Vantage, o Pandas Datareader possui integração com outras fontes de dados:
- Tiingo
- IEX
- Alpha Vantage
- Enigma
- Quandl
- St.Louis FED (FRED)
- Kenneth French’s data library
- World Bank
- OECD
- Eurostat
- Thrift Savings Plan
- Nasdaq Trader symbol definitions
- Stooq
- MOEX
- Naver Finance

**Pra mais informações**: https://pandas-datareader.readthedocs.io/en/latest/remote_data.html#remote-data-access

Além disso, há muitos tutoriais na internet em que o pessoal utiliza o Pandas Datareader para acessar o banco de dados do Yahoo Finance.
Entretanto, como se pode observar acima, o Datareader não trabalha oficialmente com o API do Yahoo, pois, desde 2017, o Yahoo não disponibiliza mais de forma aberta ao público seu banco de dados financeiros. Assim, o pessoal que consegue acessar por meio de alguns códigos, têm que lidar, algumas vezes, com dados errados ou incompletos. Mas muitos ainda tentam utilizar provavelmente por costume, porque anos atrás ele era muito usado.

Além desse método, pode-se conseguir acessar vários dados através de um método chamado **Web Scraping**.
A seguir, está um link que leva ao vídeo do **FEA.dev** que explica um pouco sobre esse assunto e ensina como extrair dados do Banco Central, através dele:
https://www.youtube.com/watch?v=mI8GMj3GzAE&t=290s